<div class="categories-taxonomy flex flex-wrap items-center gap-2">
  <i class="fa-solid fa-folder text-neon-pink"></i>
  {{- range $index, $el := . -}}
    {{- if gt $index 0 }}
      <span class="separator text-black font-black">•</span>
    {{- end }}
    <a href="{{ .RelPermalink }}" class="category-link">
      <span class="bg-neon-blue text-black px-3 py-1 border-2 border-black font-bold text-sm hover:bg-neon-yellow transition-colors">
        {{ .LinkTitle }}
      </span>
    </a>
  {{- end -}}
</div>

