on:
  push:
    branches:
    - master

jobs:
  install-hugo:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout blog repository
      uses: actions/checkout@v4.1.7
      with:
        # Repository name with owner. For example, actions/checkout
        repository: '' # optional, default is ${{ github.repository }}
        # The branch, tag or SHA to checkout. When checking out the repository that triggered a workflow, this defaults to the reference or SHA for that event.  Otherwise, uses the default branch.
    
    - name: Install Hugo
      run: |
        curl -LO https://github.com/gohugoio/hugo/releases/download/v0.147.1/hugo_extended_0.147.1_linux-amd64.deb && \
        sudo dpkg -i hugo_extended_0.147.1_linux-amd64.deb

    - name: Create static pages
      run: |
        find ./themes
        hugo --gc --minify

    - name: Execute Deployment Script
      env:
        GITHUB_COMMIT_MESSAGE: "${{ github.event.head_commit.message }}"
        GITHUB_JOB_NAME: "${{ github.job }}"
        DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
      run: bash ./deploy.sh
